<footer class="p-8">
  <div>
    <div class="flex flex-row justify-between items-center">
      <div>
        <h2 class="text-green-600 font-bold text-lg">ADOPT-ME</h2>
        <p class="text-gray-500 text-sm mt-2">{{ 'footer.copyright' | translate }}</p>
      </div>

      <div class="flex flex-row gap-6">
        <a href="#" class="text-gray-600 text-sm hover:text-green-600">
          {{ 'footer.privacy' | translate }}
        </a>
        <a href="#" class="text-gray-600 text-sm hover:text-green-600">
          {{ 'footer.terms' | translate }}
        </a>
        <a href="#" class="text-gray-600 text-sm hover:text-green-600">
          {{ 'footer.contact' | translate }}
        </a>
        <a href="#" class="text-gray-600 text-sm hover:text-green-600">
          {{ 'footer.partners' | translate }}
        </a>
      </div>
    </div>
  </div>
</footer>
