<footer class="p-8">
  <div>
    <div class="flex flex-col md:flex-row justify-between items-center gap-4 md:gap-0">
      <div class="text-center md:text-left mb-2 md:mb-0">
        <h2 class="text-green-600 font-bold text-lg">ADOPT-ME</h2>
        <p class="text-gray-500 text-sm mt-2">{{ 'footer.copyright' | translate }}</p>
      </div>

      <div class="flex flex-wrap justify-center md:justify-end gap-4">
        <a href="#" class="text-gray-600 text-sm hover:text-green-600">
          {{ 'footer.privacy' | translate }}
        </a>
        <a href="#" class="text-gray-600 text-sm hover:text-green-600">
          {{ 'footer.terms' | translate }}
        </a>
        <a href="#" class="text-gray-600 text-sm hover:text-green-600">
          {{ 'footer.contact' | translate }}
        </a>
        <a href="#" class="text-gray-600 text-sm hover:text-green-600">
          {{ 'footer.partners' | translate }}
        </a>
      </div>
    </div>
  </div>
</footer>
