.bg-imagen{
    background-image: url("/Beneficios-de-tener-una-mascota-en-casa-animales-felices.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}