<section class="bg-gray-200 p-10">
<div class="max-w-2xl mx-auto py-16 px-6 bg-white rounded-2xl shadow-lg">
  <h2 class="text-3xl font-bold text-gray-900 mb-10">
    {{ 'contact.title' | translate }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="enviarMensaje()" class="flex flex-col gap-6">
    <!-- Nombre Completo -->
    <div class="flex flex-col gap-2">
      <label class="text-xs font-semibold text-gray-600 uppercase">{{ 'contact.nameLabel' | translate }}</label>
      <input 
        type="text"
        formControlName="nombre" 
        [placeholder]="'contact.namePlaceholder' | translate" 
        class="px-4 py-3 border border-gray-300 rounded bg-gray-100 focus:outline-none focus:ring-2 focus:ring-green-600"
      />
    </div>

    <!-- Asunto / Motivo -->
    <div class="flex flex-col gap-2">
      <label class="text-xs font-semibold text-gray-600 uppercase">{{ 'contact.subjectLabel' | translate }}</label>
      <select 
        formControlName="motivo"
        class="px-4 py-3 border border-gray-300 rounded bg-gray-100 focus:outline-none focus:ring-2 focus:ring-green-600"
      >
        <option value="">{{ 'contact.selectReason' | translate }}</option>
        <option value="soporte">{{ 'contact.reasonSupport' | translate }}</option>
        <option value="consulta">{{ 'contact.reasonGeneral' | translate }}</option>
        <option value="adopcion">{{ 'contact.reasonAdoption' | translate }}</option>
        <option value="recomendacion">{{ 'contact.reasonRecommendation' | translate }}</option>
        <option value="otro">{{ 'contact.reasonOther' | translate }}</option>
      </select>
    </div>

    <!-- Mensaje Detallado -->
    <div class="flex flex-col gap-2">
      <label class="text-xs font-semibold text-gray-600 uppercase">{{ 'contact.messageLabel' | translate }}</label>
      <textarea
        formControlName="mensaje"
        rows="5"
        [placeholder]="'contact.messagePlaceholder' | translate"
        class="px-4 py-3 border border-gray-300 rounded bg-gray-100 focus:outline-none focus:ring-2 focus:ring-green-600 resize-none"
      ></textarea>
    </div>

    <button type="submit" class="btn-enviar text-white py-3 rounded-lg font-semibold">
      {{ 'contact.submit' | translate }}
    </button>
  </form>
</div>

</section>
